<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <h1 class="logo__text">OneUp</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">It's NOW.</h1>
      <h2 class="heading--secondary">Your new life starts here!</h2>
    </div>

    <div class="signup__overlay"></div>
  </div>

  <div class="container__child signup__form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true %>
      <%= f.input :last_name,
                  required: true %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

<%= render "devise/shared/links" %>
</div>


