<div class="banner rounde d-flex justify-content-center align-items-center">

<div class="container d-flex justify-content-center align-items-center">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert-danger" %>
  <% end %>
  <div class="card-booking col-10">
    <%= cl_image_tag @experience.photo, height: 300, width: 400%>
    <div class="d-flex flex-column align-items-left">
      <div class="row d-flex justify-content-around align-items-center mt-3">
            <div class="d-flex flex-column align-items-start">
            <h2 class="text-center"><%= @experience.name%> </h2>
            <p><%= @experience.description %></p>
            </div>
            <div class="d-flex flex-column justify-content-start">
             <p class="my-0 mt-3"><i class="fas fa-briefcase">  </i>  <%=@experience.category%></p>
            <p class="my-0 mt-3"><i class="fas fa-map-marker-alt">  </i>  <%=@experience.address%></p>
            </div><!--
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/> -->
      </div>
          <h3 class='font-weight-bold text-right mt-5 mr-5 price-size' id="price-up element-absolute"><%= "#{@experience.price} €" %></h3>
        <div class="widget-content col-12 d-flex flex-column justify-content-left align-items-right" data-unavailable="<%= @experience.unavailable_dates.to_json %>">
          <%= simple_form_for [@experience, @booking] do |f| %>
            <% disabling = false %>
            <% if @experience.user_id == current_user.id %>
              <% disabling = true %>
            <% end %>
            <%= f.input :date, label: "Please select your date:", as: :string, input_html: {class: "datepicker", id:"colordate"} %>
            <%= f.submit "Book now!", class: " btn-margin btn btn-red w-100 mb-5", disabled: disabling %>
          <% end %>
        </div>

      <div class="row d-flex justify-content-around align-items-center">
          <div class="d-flex flex-column justify-content-around align-items-left">
        </div>
      </div>
    </div>
   </div>
    </div>
  </div>
</div>
</div>
