<h1><%= @booking.experience.name %></h1>
<p><%= @booking.experience.user.first_name + ' ' + @booking.experience.user.last_name %></p>
<p><%= @booking.status %></p>
<p><%= @booking.date %></p>

<%= link_to "Back to experiences", experiences_path, class: "btn btn-primary"  %>
