
<div class="container">
  <div class="dashboard-display">

    <h1 class="subtitle2">Your experiences, <%= current_user.first_name.capitalize + " " + current_user.last_name.capitalize %></h1>
    <% if @experiences == [] %>
      <div class="row">
        <%= link_to "Add your experience!", new_experience_path, class: "btn btn-primary"  %>
      </div>
    <% else %>
      <% @experiences.each_with_index do |experience, index| %>
        <div class="experience-card">
          <h3><%= experience.name %></h3>
          <% if experience.bookings.first.nil? %>
            <div class="d-flex justify-content-between">
              <p><%= "No bookings for this experience!" %></p>
            </div>
          <% else %>
              <div class="row">
                <div class="col-6">
                  <div class="widget-datepicker" data-pending="<%= experience.pending_bookings.to_json %>" data-confirmed="<%= experience.confirmed_bookings.to_json %>">
                      <%= simple_form_for experience.bookings.first do |f| %>
                        <%= f.input :date , label: "Check the dates:", placeholder: "date", as: :string, input_html: {class: "datepicker-experiences-#{index}"}  %>
                      <% end %>
                  </div>
                </div>
                <div class="col-6 experience-card-dflex">
                  <div class="js-booking-selected-<%= index %>" data-bookings="<%= @bookings_user.to_json %>" data-experiences="<%= @experiences.to_json %>" data-users="<% array = @experiences.map do |experience| %>
                      <% experience.users_info_booking %>
                    <% end %>
                    <%= array.to_json %>
                    ">
                  </div>
                </div>
              </div>
          <% end %>
          <div class="experience-btn">
            <%= link_to "Delete experience", experience_path(experience), method: "delete", class: "btn btn-red-filter" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<div class="container">
  <div class="dashboard-display">
    <h1 class="subtitle2">Your bookings, <%= current_user.first_name.capitalize + " " + current_user.last_name.capitalize %></h1>
    <% if @bookings == [] %>
      <div class="row">
        <%= link_to "Browse experiences!", experiences_path, class: "btn btn-primary"  %>
      </div>
    <% else %>
      <% bookings = @bookings.sort_by(&:date) %>
      <% bookings.each do |booking| %>
        <div class="row">
          <div class="card-dashboard-booking">
            <%= cl_image_tag booking.experience.photo, height: 300, width: 120, crop: :fill %>
            <div class="card-dashboard-booking-avatar">
              <%= cl_image_tag booking.experience.user.photo, height: 64, width: 64, crop: :fill %>
            </div>
            <div class="card-dashboard-bookings">
              <div class="card-dashboard-bookings-info">
                <h2><%= booking.experience.name %></h2>
                <p><%= "#{booking.experience.user.first_name.capitalize} #{booking.experience.user.last_name.capitalize}" %></p>
                <p><%= booking.date %></p>
              </div>
              <% if (booking.status == "Confirmed") %>
                <% class_value = "experience-confirmed" %>
              <% else  %>
                <% class_value = "experience-pending" %>
              <% end %>
              <h4 class="<%= class_value %>"><%= booking.status %></h4>
              <%= link_to "Cancel", booking_path(booking), method: "delete", class: "btn btn-red-filter"  %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

