
<div class="home-banner d-flex flex-column justify-content-center">
  <div class="container">
  <h1> Spend A Day <br><span id="banner-typed-text"></span></h1>
  <div class="d-flex flex-row align-items-center justify-content-start align-items-center" id="boutons">
  <%= link_to "Book Unique Experiences", experiences_path, class: 'btn btn-red' %>
  <%= link_to "Create Your Own", new_experience_path, class: 'btn btn-black' %>
  </div>
  <!--
  <a class="btn btn-opposite" href="#">See All Our Cocktails</a> -->
  </div>
</div>
  <h2 class="text-center subtitle">Only Awesome features</h2>
<div class="row d-flex justify-content-around mt-24 cards">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body d-flex flex-column align-items-center">
        <%= image_tag('select.png', class: "vignette")%>
        <h5 class="card-title">Select Your Experience</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body d-flex flex-column align-items-center">
        <%= image_tag('meeting.png', class: "vignette")%>
        <h5 class="card-title">Spend Some Quality Time</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body d-flex flex-column align-items-center">
         <%= image_tag('booking.png', class: "vignette")%>
        <h5 class="card-title">Create Your Own Experience</h5>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-column align-items-center">
  <h2 class="subtitle">Our Members Love</h2>

<div class="cards " >
  <% @experiences.sample(6).each do |experience| %>
  <div class="row ">
    <div class="card-trip">
      <%= image_tag('christophe.jpg', class: "vignette")%>
      <div class="card-trip-infos">
        <div>
          <h3><%= link_to experience.name, experience_path(experience) %></h3>
          <p><%= experience.description%></p>
        </div>
        <h2>€1000</h2>
      </div>
    </div>
  </div>
    <% end %>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel-container carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h3>"OneJobOneDay Has Changed My Life For The Better !"</h3>
      <p>Amandine</p>
    </div>
    <div class="carousel-item">
      <h3>"The Best Way To Become A Penguin Is Tof Follow One !"</h3>
      <p>Victor</p>
    </div>
    <div class="carousel-item">
    <h3>"Make A Change, Choose OneJobOneDay"</h3>
    <p>Anouk</p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="footer footer-icons d-flex flex-column align-items-center">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
