 <%= render 'shared/navbar' %>

 <div class="container">
  <div class="img">
    IMAGE
  </div>

  <div class="card-experience">
    <h1><%= experience.name %></h1>
    <h2><%= experience.city %></h2>
    <h3><%= experience.price %></h3>
  </div>

  <div class="card-infos">
    <p><%= experience.description %></p>
  </div>
 </div>
