<br>
<br>
<div class="index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1463194537334-3940784aa69a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <div class="title-text text-center">
      <h1>Try a new life - Change your life </h1>
      <p> Eager to live your dream for one day?
        Have a look to all the experiences et pick yours!</h2>
    </div>
  </div>
</div>

<div class="container-form form-inline">
  <%= simple_form_for :query, url: experiences_path, method: :get, :html => {class:"form-inline"} do |f| %>
    <div class="form-group ">
      <div class="display mx-sm-3 mb-2">
      <%= f.input :city, collection: ['Paris', 'Strasbourg', 'Lyon','Pau', 'Bordeaux', 'Toulouse', 'Lille', 'Nantes']  %>
      </div>
       <div class="display mx-sm-12 mb-2" >
      <%= f.input :category, collection: ['Ebenist', 'Lawyer', 'Bakery', 'Judge']  %>
      </div>
       <%= f.submit 'Change your life', class: "btn-red-filter" %>
    </div>
  <% end %>
</div>

<div class="container-index">
  <div class="cards-exp" >
    <% @experiences.each do |experience| %>
      <div class="card-experience">
        <%= cl_image_tag experience.photo, height: 300, width: 400%>
          <div class="card-experience-infos">
            <div>
              <h3><%= link_to experience.name, new_experience_booking_path(experience) %></h3>
              <div class="paragraph">
              <p><%= experience.description%></p>
              </div>
              <p class= "" ><strong> <%=experience.address %></strong> </p>
            </div>
            <%= cl_image_tag current_user.photo, width: 40, class: 'rounded' %>
            <h2 class="card-experience-pricing"><%=experience.price%>€</h2>
            <%= cl_image_tag experience.user.photo,  class: "card-trip-user avatar-bordered"%>
          </div>
      </div>
    <% end %>
  </div>
</div>


<div class="footer footer-icons d-flex flex-column align-items-center">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>


