<div class="container d-flex justify-content-center align-items-center">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert-danger" %>
  <% end %>
  <div class="card-booking col-10">
    <img src="https://images.pexels.com/photos/1549003/pexels-photo-1549003.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    <h1 class='text-center mt-4 text-dark font-weight-bold'>Mentor Away !</h1>
    <p class='text-center text-dark ' id="p-newexp">Create Your Own Experience And Share Your Job With The World</p>
     <div class="d-flex justify-content-around align-items-center infos">
        <div class="d-flex flex-column justify-content-center align-items-center col-sm-4">

          <%= simple_form_for @experience do |f|%>
          <%= f.input :name  %>
          <%= f.input :description  %>
          <%= f.input :price  %>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center col-sm-4">
          <%= f.input :category, collection: Experience::CATEGORIES  %>
          <%= f.input :address %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
          <%= f.submit  class: 'btn btn-red mt-4' %>
          <% end %>
        </div>
     </div>
  </div>
</div>
